<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>store</servlet-name>
        <servlet-class>control.store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upass</servlet-name>
        <servlet-class>control.upass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>match</servlet-name>
        <servlet-class>control.match</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpro</servlet-name>
        <servlet-class>control.editpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>control.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addsite</servlet-name>
        <servlet-class>control.addsite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>control.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>control.buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteprofile</servlet-name>
        <servlet-class>control.deleteprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>control.feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>store</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upass</servlet-name>
        <url-pattern>/upass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpro</servlet-name>
        <url-pattern>/editpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>match</servlet-name>
        <url-pattern>/match</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addsite</servlet-name>
        <url-pattern>/addsite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteprofile</servlet-name>
        <url-pattern>/deleteprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
