#table th{
    background: #0d172e;
    color:#5584ff;
    text-align: center;
    padding: 10px;
}
#table  tr td{
    padding: 10px;
    font-weight: 400;
    color:white;
    border-color: #5584ff;
}
#table{
    background: #0d172e;
    
}

@media (max-width:1130px)and (min-width:700px)
{
    #table tr td{
        padding:3px;
        font-size: 10px;
        
        
    }
    #table th{
        font-size: 10px;
        
    }
}
@media (max-width:700px)
{
    #table tr td{
        padding:1px;
        font-size: 7px;
        word-break: break-all;
    }
    #table th{
        font-size: 7px;
        padding:1px;
        
            
    }
    #table{
        margin-left: -45px;
        margin-right:-30px;
    }
}